body {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 45%;
}

div.all {
  font-family: 'Poppins', Arial, sans-serif;
  text-align: center;
  padding: 15px;
  border: 3px solid rgb(2, 10, 141);
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  margin: 5px 0 0 0;
  box-shadow: 0 2px 20px rgb(0 0 0 / 50%);
  border-radius: 10px;
}

/*WYSZUKIWANIE MIASTA*/
input {
  border: 2px solid rgb(2, 10, 141);
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background-color: rgb(247, 245, 242);
}

input.city {
  width: 60%;
  margin: 10px 0;
  font-size: 16px;

}

input.submit {
  width: 20%;
  height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 10px 15px;
}

input:hover {
  border: 2px solid gainsboro;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  transition: opacity 50ms ease;
}

/* INFORMACJE DODATKOWE */

h1#localization {

  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


div.currentDate {
  list-style: none;
  margin: 40px 0 10px 0;
  font-weight: 800;

}


div.float-left {
  margin-top: 5px;
  padding-top: 5px;
  font-size: 25px;

  font-weight: normal;
}

.units {
  position: relative;
  top: -10px;
}

.float-left a {
  font-size: 18px;

}

img.icon {
  display: block;
  padding: 0;
  text-align: center;
  font-size: 1px;
  color: yellow;
}


/**WIADOMOŚCI*/
section.features {

  padding-top: 20px;
  margin-top: 50px;
  font-size: 17px;

}

div.informationTitle {
  font-weight: 800;


}

p.informationSubtitle {
  font-weight: 100;

}

/*DNI TYGODNIA*/
div#forecast {
  margin: 0;
  padding: 5px;
  opacity: 0.8;
}

div#forecast:hover {
  opacity: 1.0;
}

ul.nextDays {
  list-style: none;
  padding-inline-start: 0px;
  border: 2px solid rgb(32, 57, 110);
  border-radius: 50px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

ul li {
  display: block;
  text-align: center;
  margin: 2px 2px 0 2px;
}

li.day {
  margin: 3px;
  padding: 6px;
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
}

li.temperatures {
  line-height: 15px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

li.icons {
  margin-bottom: 5px;
  font-size: 32px;
  color: yellow;
}


footer {
  font-size: 10px;
  padding-top: 5px;
  margin: 0;
  text-align: center;
}

a {
  font-size: 40px;
}